@page "/AvailableShifts"
@using Festivalproject.Shared.Models
@using Festivalproject.Client.Components
@using Blazored.Modal
@using Blazored.Modal.Services


@inject IJSRuntime JSRuntime
@inject HttpClient Http
@inject IModalService ModalService


<h3>AvailableShifts</h3>

<div id="calendar"></div>


@code {
    
    private List<Shifts> AvailableShift { get; set; } = new List<Shifts>();

    protected override async Task OnInitializedAsync()
    {
        AvailableShift = await Http.GetFromJsonAsync<List<Shifts>>("https://localhost:7251/api/Shifts/false");

    // Convert the list of shifts to an array of events thats later passed over to the js function
        var events = AvailableShift.Select(s => new
        {
    //Setting the properties of the event object -> ex. title = name of the shift...
            title = s.Name,
            start = s.startTime.ToString("s"),
            end = s.endTime.ToString("s")
    //to array conversion
        }).ToArray();

    //importing the js file from "wwwroot/js" and calling the initializeCalendar function with the events array as parameters
        var module = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./js/fullcalender.js");
        await module.InvokeVoidAsync("initializeCalendar", new object[] { events });
    }

    private async Task ShiftsDialog(string shiftName)
    {    
        var options = new ModalOptions { Size = ModalSize.Small };
        var dialog = ModalService.Show<ShiftsDialog>("Successfully signed up", options);
        var result = await dialog.Result;
    }
}
