@page "/AvailableShifts"
@using Festivalproject.Shared.Models
@using Festivalproject.Client.Components
@using Blazored.Modal.Services


@inject IJSRuntime JSRuntime
@inject HttpClient Http
@inject IModalService ModalService


<h3>AvailableShifts</h3>

<div id="calendar"></div>


@code {
    
    private List<Shifts> AvailableShift { get; set; } = new List<Shifts>();

    protected override async Task OnInitializedAsync()
    {
        AvailableShift = await Http.GetFromJsonAsync<List<Shifts>>("https://localhost:7251/api/Shifts/false");
        
    // Create a DotNetObjectReference to pass to JavaScript
        var dotNetReference = DotNetObjectReference.Create(this);

    // Convert the list of shifts to an array of events thats later passed over to the js function
        var events = AvailableShift.Select(s => new
        {
    // Setting the properties of the event object
            title = s.Name,
            start = s.startTime.ToString("s"),
            end = s.endTime.ToString("s"),
            description = s.Description,
            capacity = Convert.ToString(s.Capacity),
            _duration = Convert.ToString(s.Duration),
            type = s.Type,
    //to array conversion
        }).ToArray();

    //importing the js file from "wwwroot/js" and calling the initializeCalendar function with the events array as parameters
        var module = await JSRuntime.InvokeAsync<IJSObjectReference>("import", "./js/fullcalender.js");
        await module.InvokeVoidAsync("initializeCalendar", new object[] { events, dotNetReference });
    }
    
    [JSInvokable]
    public async Task ShiftsDialog(string shiftName, string shiftDescription, string shiftCapacity, string shiftDuration, string shiftStart, string shiftEnd)
    {
        Console.WriteLine($"ShiftsDialog - shiftDuration: {shiftDuration}");

        var options = new ModalOptions { Size = ModalSize.Medium };
        var parameters = new ModalParameters();
        parameters.Add("ModalShiftTitle", shiftName);
        parameters.Add("ModalShiftDescription", shiftDescription);
        parameters.Add("ModalShiftCapacity", shiftCapacity);
        parameters.Add("ModalShiftDuration", shiftDuration);
        parameters.Add("ModalShiftStart", shiftStart);
        parameters.Add("ModalShiftEnd", shiftEnd);

        var dialog = ModalService.Show<ShiftsDialog>("", parameters, options);
        var result = await dialog.Result;
    }
}