.Wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.GridContainer {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    width: 100%;
    margin: 0 auto;
}


.HeaderContainer,
.BackContainer {
    max-width: 80%;
    width: 100%;
    margin: 0 auto;
}

.HeaderContainer {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 10px;
    background-color: #d3d3d3ad;
}

.BackContainer {
    display: flex;
    justify-content: center;
    width: 100%;
}

.BackBtnContainer {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 15px;
}

#shifts-container {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 500px;
    margin-top: 150%;
}

.Vagtheader {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.shift-types {
    display: flex;
    flex-direction: column;
}

.shift-type {
    font-size: 15px;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.shift-dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
}

#main-content {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

#calendar {
    width: 100%;
}

.Back {
    width: 145px;
    border-radius: .25em !important;
    background-color: #6366F1 !important;
    border: 1px solid transparent !important;
    text-align: center !important;
    font-size: 0.875rem !important;
    font-weight: 600 !important;
    color: #FFFFFF !important;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05) !important;
    transition: background-color 0.2s !important;
}

.Back:hover {
    background-color: #4F46E5 !important;
}

.Back:focus-visible {
    outline: 2px solid transparent !important;
    outline-offset: 2px !important;
    outline-color: #6366F1 !important;
}

@media (max-width: 767px) {
    .GridContainer {
        flex-direction: column;
        align-items: center;
    }

    #shifts-container,
    .MainContentContainer {
        width: 100%;
    }
}
