.tableHeadInfo {
    margin-bottom: 25px;
}

.ButtonsBox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.vagtBox {
    display: flex;
    text-align: center;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    background-color: #d3d3d3ad;
}

.white-text {
    font-weight: bold;
}

.row {
    justify-content: space-between;
}

.LedigeSkrift,
.OptagetSkrift {
    font-size: 14px;
    font-weight: bold;
    color: rgb(79, 70, 229);
}
